doctype html 

html 

    head
        title = title 
    body 
        form(method = 'POST' action = "/api/orders/addSticker")
            legend Add Sticker

            .form-group 
                label(for='link') Add link
                input.form-control(type='text', name='link', value='', placeholder='Add link', autofocus=true)
            .form-group
                button.btn.btn-primary(type='submit') Add Sticker

