doctype html 

html 

    head
        title = title 
    body 
        form(method = 'POST' action = "/api/orders/addSticker")
            legend Add Sticker

            .form-group 
                label(for='images') Add link
                input.form-control(type='file', name='images', placeholder='Add image', multiple)
                br
            .form-group
                button.btn.btn-primary(type='submit') Add Sticker

