doctype html
html
  head
    title result.name
  body
    h1 result.name
    img(src = result.link, alt = result.name )
    p Image Name: result.name
    p Image Tags:
    //-   ul
    //-     each tag in theSticker.tag
    //-       li= tag
